@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}




.dropdown-list {
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
}

body {
  font-family: 'Poppins';
  background-color: #040A0D;
}



/* Scrollbar */
html::-webkit-scrollbar {
  width: 5px;
}
 
html::-webkit-scrollbar-track {
  background: #040A0D;
}
 
html::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 20px;
  height: 50px;
}



/* 3d text */
/* #main-text {
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191,
      1px 2px 1px #919191,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
      1px 6px 1px #919191,
      1px 7px 1px #919191,
      1px 8px 1px #919191,
      1px 9px 1px #919191,
      1px 10px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}

#main-text span {
  color: #0daaf9;
  text-shadow: 1px 1px 1px #0f638e,
      1px 2px 1px #0f638e,
      1px 3px 1px #0f638e,
      1px 4px 1px #0f638e,
      1px 5px 1px #0f638e,
      1px 6px 1px #0f638e,
      1px 7px 1px #0f638e,
      1px 8px 1px #0f638e,
      1px 9px 1px #0f638e,
      1px 10px 1px #0f638e,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
} */

.custom-transform {
  transform: rotate(-45deg) matrix(1, 0, 0, -1, 0, 0);
}
